   <div class="content-wrapper" ng-controller="customerCtrl">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Painel de Controle
      </h1>
    </section>
 
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class='col-md-8'>
          <button class='btn btn-primary' id='newCustomer' style="margin-bottom: 5px" ng-click="showFormFunction()" ng-show="!showForm">Novo Cliente</button>
        </div>
        <div class="col-md-12">
          <div class="box box-primary" ng-show="showForm">
            <div class="box-header with-border">
              <h3 class="box-title">Novo Cliente</h3>
            </div>
            <div class="box-body">
              <p>Nome</p>
              <input class="form-control" ng-model="customer.name">
              <p>CPF</p>
              <input class="form-control" ng-model="customer.cpf">
              <p>Endereço</p>
              <input class="form-control" ng-model="customer.address">
              <p>Telefone</p>
              <input class="form-control" ng-model="customer.phone">
            </div>
            <div class="box-footer">
              <button class="btn btn-primary" ng-click="addCustomer(customer)">Cadastrar</button>
              <button class='btn btn-danger' ng-click="cancelAddCustomer()">Cancelar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="TituloModalCentralizado">Editar Cliente</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Nome</p>
              <input class="form-control" ng-model="customerEdit.name">
              <p>CPF</p>
              <input class="form-control" ng-model="customerEdit.cpf">
              <p>Endereço</p>
              <input class="form-control" ng-model="customerEdit.address">
              <p>Telefone</p>
              <input class="form-control" ng-model="customerEdit.phone">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              <button type="button" class="btn btn-primary" ng-click="editSaveCustomer(customerEdit)" data-dismiss="modal">Salvar mudanças</button>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <input class="form-control" placeholder="Digite o nome do cliente..." ng-model="buscador.name">
      </div>
      <hr>
      <!-- Main row -->
      <div class="row">
        <div class='col-md-12'>
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Clientes</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-striped">
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Nome</th>
                  <th>Valor a receber</th>
                  <th>Informações</th>
                </tr>
                <tr ng-repeat="customer in customers | filter: buscador" style="font-weight: normal;">
                  <td>{{$index+1}}</td>
                  <td>{{customer.name}}</td>
                  <td>R${{customer.vlrReceber}}</td>
                  <td>
                    <a href="/customer/{{customer.id}}" class="btn btn-primary btn-sm">Ver Emprestimos</a>
<!--                    <a href="/customer/{{customer.id}}/edit" class="btn btn-secondary btn-sm">Editar Cliente</a>-->
                    <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#ExemploModalCentralizado" ng-click="editCustomer(customer)")>Editar Cliente</button>
                    <a href="/customer/{{customer.id}}/destroy" data-method="delete" data-confirm="Tem certeza que deseja apagar o cliente: {{customer.name}}" class="btn btn-danger btn-sm">Apagar Cliente</a>
                  </td>
                </tr>
              </table>
            </div>
        </div>
      </div>
      <!-- /.row (main row) -->
    </section>
    <!-- /.content -->
  </div>